@import "mixins";

.about {
  .about-hero {
    display: flex;

    background-image: url("../../public/doctors/hero-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 150px 8vw;

      .description {
        padding: 0 10vw;
        margin-bottom: 50px;
      }
    }
  }

  .praise-ribbon {
    background: $black-gradient;
    color: $white;
    margin: 0;
  }

  .our-team {
    display: flex;
    flex-direction: column;

    .wrapper {
      @include devices(tablet) {
        padding: 0 20px;
      }
    }
  }

  .dallas-team,
  .frisco-team,
  .denver-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    p.h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 50px;
      padding-bottom: 150px;

      &::after {
        content: "";
        display: block;
        position: relative;
        width: 240px;
        height: 4px;
        margin-top: 10px;
        background-color: $green;
      }
    }
  }

  .denver-team {
    .container {
      flex: 0 1 50%;

      @include devices(tablet) {
        flex: 0 1 60%;
      }

      @include devices(mobile) {
        flex: 0 1 100%;
      }

      .image-container {
        margin-top: -15%;
      }

      .text-container {
        margin-top: 15%;
      }
    }
  }

  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 100px;

    @include devices(mobile) {
      flex-direction: column;
      row-gap: unset;
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0 1 25%;
    min-width: 25%;
    height: auto;
    border: 3px solid $black;

    background: #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);

    @include devices(tablet) {
      width: auto;
      margin-top: 10%;
      flex: 0 1 40%;
    }

    @include devices(mobile) {
      margin-top: 25%;
      flex: 0 1 100%;
    }

    .image-container {
      position: absolute;
      margin-top: -25%;
      width: 160px;
      height: 160px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: 3px solid $black;
      overflow: hidden;
      align-self: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
      }
    }

    .text-container {
      position: relative;
      padding: 25px;
      margin-top: 25%;

      &::before {
        content: "";
        display: block;
        position: relative;
        width: 50%;
        height: 17px;
        background-color: $green;
        left: -25px;
        margin-bottom: 20px;
      }

      .super-header {
        width: 101%;
      }
    }
  }

  .testimonials {
    background-color: $gray;

    .wrapper {
      display: flex;
      justify-content: center;

      h2 {
        padding: 30px 0;
      }
    }
  }
}