@import "mixins";
.doctors {
  .doctors-hero {
    display: flex;

    background-image: url("../../public/doctors/hero-background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .hero-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 150px 8vw;

      .description {
        padding: 0 10vw;
        margin-bottom: 50px;
      }
    }
  }

  .headshot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;

    .headshot {
      display: flex;
      flex: 0 1 48%;
      border: 3px solid #000;
      background: #f8f8f8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
      height: auto;
      margin-top: 100px;
      gap: 20px;

      @include devices(tablet) {
        flex: 0 1 100%;
        padding: 10px 30px;

        overflow: hidden;

        &:nth-child(2),
        &:nth-child(4) {
          flex-direction: row-reverse;
        }
      }

      @include devices(mobile) {
        flex-direction: column;

        &:nth-child(2),
        &:nth-child(4) {
          flex-direction: column;
        }
      }

      .left-side {
        flex: 0 1 50%;

        @include devices(tablet) {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .image-container {
          position: relative;
          bottom: 0;
          width: 270px;
          height: 100%;

          @include devices(tablet) {
            position: relative;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid $black;
            top: 0;
          }

          img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
            max-width: none;
            z-index: 2;
            margin-left: 15px;
            bottom: 0;

            // @include devices(tablet) {
            //   height: 100%;
            // }
          }
          &::before {
            content: "";
            display: block;
            position: relative;
            width: 100%;
            height: 17px;
            top: 155px;
            background-color: $green;
            z-index: 1;

            @include devices(tablet) {
              display: none;
            }
          }
        }
      }

      .right-side {
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 20px;
        margin: 20px 0;

        @include devices(tablet) {
          flex: unset;
          padding-right: unset;
        }

        &::before {
          content: "";
          display: none;
          position: relative;
          width: 100%;
          height: 17px;
          top: 0px;
          background-color: $green;
          z-index: 1;

          @include devices(tablet) {
            display: block;
          }
        }

        .text-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .description {
            margin: 10px 0;
          }
        }

        .socials-container {
          width: 100%;
          justify-content: flex-end;
          display: flex;
          gap: 10px;
        }
      }
    }
  }

  .button {
    padding: 10px 15px;
  }

  .play-button {
    margin-left: 10px;
  }

  .bottom-banner {
    background: $gray;
  }

  .booking-dropdown {
    position: relative;
    display: inline-block;

    button {
      cursor: pointer;
    }

    .dropdown-content {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: white;
      min-width: 200px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 4px;
      margin-top: 8px;

      .dropdown-item {
        display: block;
        width: 100%;
        padding: 12px 16px;
        text-align: left;
        border: none;
        background: none;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover,
        &:focus {
          background-color: #f5f5f5;
        }
      }
    }
  }
}
