@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mixins";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: $white;
  overflow-x: hidden;
}

.section {
  position: relative;
  margin: 40px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 75px;
  @include devices(tablet) {
    padding: 0 50px;
  }

  @include devices(mobile) {
    padding: 0 20px;
  }
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

//

a.button,
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 140px;
  text-transform: uppercase;

  padding: 10px 30px;
  margin: 7px;
  font-size: 15px;
  line-height: normal;

  border-radius: 20px;

  &.light {
    background: $white;
    border: 3px solid $black;

    &:hover {
      color: $white;
      background: $green-gradient;
      border: 3px solid $green;
    }
  }

  &.dark {
    background: $black-gradient;
    border: 3px solid $black;
    color: white;

    &:hover {
      background: $green-gradient;
      border: 3px solid $green;
    }
  }
}

//

h2,
.h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;

  @include devices(tablet) {
    font-size: 30px;
  }
}
.uppercase {
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  @include devices(tablet) {
    font-size: 24px;
  }
}
.super-header {
  font-size: 18px;
  font-weight: 400;
  color: $green;

  @include devices(tablet) {
    font-size: 16;
  }
}

// Global Components
.bottom-banner {
  margin: 40px 0 0 0;
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 75px 0;
    margin: 0 auto;
  }
}

.socials-container {
  display: flex;

  a {
    margin: 10px;
    cursor: pointer;

    &:hover {
      &:first-of-type {
        svg {
          path {
            fill: $green;
          }
        }
      }
      svg {
        path {
          &:first-of-type {
            fill: $green;
          }
        }
      }
    }
  }
}

.praise-ribbon {
  background-color: $gray;
  width: 100vw;

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .praise-items {
    display: flex;

    @include devices(mobile) {
      flex-direction: column;
    }

    .item {
      display: flex;
      flex-direction: column;
      text-align: center;
      text-transform: uppercase;
      flex: 0 1 auto;
      padding: 50px;
      margin: 0 45px;

      @include devices(tablet) {
        padding: 40px 0;
      }

      .bold {
        font-weight: 700;
      }
    }
  }
}
