@import "mixins";
.homepage {
  position: relative;
  &-hero {
    margin-bottom: 40px;
    overflow-x: hidden;
    @include devices(tablet) {
      background-color: $gray;
    }
    .logo-container {
      width: 50%;
      height: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: none;
      }
    }

    .hero-text {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      // top: -124px;
      z-index: 1;
      transition: all 0.5s ease-in-out;
      @include devices(tablet-lg) {
        top: 0;
      }

      @include devices(tablet) {
        flex-direction: column;
        top: 0;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 200vw;
        height: 450px;
        background-color: $gray;
        left: -500px;
        z-index: -1;
        transition: all 0.5s ease-in-out;

        @include devices(tablet) {
          display: none;
        }
      }

      .left-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 50%;
        margin-bottom: 50px;

        .left-border {
          position: relative;
          margin-bottom: 32px;

          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: $green;
            left: -40px;
            top: 0;
          }
        }
        .description {
          font-size: 20px;
          font-weight: 400;
          margin-top: 6px;
        }

        .superscript {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px;
          .green {
            color: $green;
          }
        }
        .button.dark {
          border-radius: 17.3px;
        }
      }
      .right-side {
        flex: 0 1 50%;

        .image-container {
          position: relative;
          width: 100%;
          height: auto;
        }

        .dr-photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: none;
        }

        @include devices(tablet) {
          display: none;
        }
      }
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 180px;
    margin-bottom: 50px;

    @include devices(tablet) {
      padding: 0;
    }

    .description {
      font-weight: 400;
      padding: 0 60px;

      @include devices(mobile) {
        padding: 0;
      }
    }
  }

  .testimonials {
    .wrapper {
      display: flex;
      justify-content: center;

      h2 {
        padding: 30px 0;
      }
    }
  }

  .map {
    height: 100vh;
    position: relative;
    min-height: 850px;

    @include devices(mobile) {
      height: auto;
    }

    .locations {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 48px 0 48px 68px;

      width: 50%;
      max-width: 800px;
      height: 100%;

      z-index: 2;

      @include devices(tablet) {
        width: auto;
        max-width: 75%;
      }

      @include devices(mobile) {
        padding: 48px 10px;
        position: relative;
        max-width: unset;
      }

      .location {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background: rgba(35, 164, 76, 0.8);
        padding: 32px;
        &:first-of-type {
          margin-bottom: 10px;
        }
        &:last-of-type {
          margin-top: 10px;
        }

        h2 {
          color: $white;
          padding-bottom: 8px;
        }
        @include devices(tablet-lg) {
          flex-direction: row;
          gap: 20px;
        }

        @include devices(mobile) {
          flex-direction: column;
        }
        p {
          font-size: 22px;
          font-weight: 500;
          text-transform: uppercase;
          padding-bottom: 30px;
        }
        .cta-block {
          display: flex;
          flex-wrap: nowrap;

          @include devices(tablet-lg) {
            flex-direction: column;
          }
        }

        .button {
          font-size: 20px;
          flex: 0 1 50%;
          display: flex;
          align-items: center;

          .icon {
            padding-right: 16px;
          }
        }
      }
    }
  }
}
