.testimonial-slider {
  margin: 20px;

  .testimonial-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .testimonial-slide {
    flex: 0 0 30%;
    padding: 0 20px;
  }

  .testimonial-content {
    text-align: left;
    padding: 20px;
    background: linear-gradient(180deg, rgba(17, 19, 17, 0.9) 0%, #111311 100%);
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 532px;
    height: 280px;
  }

  .testimonial-text {
    font-size: 25px;
    margin-bottom: 10px;
    color: white; // Use your color
    text-transform: uppercase;
  }

  .testimonial-date {
    font-size: 25px;
    color: green; // Use your color
    text-transform: uppercase;
  }

  .pagination {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      width: 20px;
      height: 10px;
      margin: 0 5px;
      background-color: $dark-gray;
      border-radius: 40%;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &.active {
        background-color: $green;
      }
    }
  }
}
