@import "mixins";

.treatment {
  position: relative;
  &-hero {
    @include devices(tablet) {
      background: $gray;
    }

    @include devices(mobile) {
      background-image: url("../../public/doctors/hero-background.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .hero-text {
      display: flex;
      flex-direction: row;
      align-items: center;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100vw;
        height: 450px;
        background-color: $gray;
        top: 215px;
        left: 0;
        z-index: -1;
        @include devices(tablet) {
          display: none;
        }
      }

      @include devices(mobile) {
        display: none;
      }

      .left-side {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 0 1 70%;

        @include devices(mobile) {
          flex: 0 1 100%;
        }

        .left-border {
          position: relative;
          margin-bottom: 32px;

          &::after {
            content: "";
            display: block;
            position: absolute;
            height: 100%;
            width: 4px;
            background-color: $green;
            left: -40px;
            top: 0;
          }
        }

        .description {
          font-size: 20px;
          font-weight: 400;
          margin-top: 6px;
        }

        .superscript {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 20px;
          .green {
            color: $green;
          }
        }
        .button.dark {
          border-radius: 17.3px;
        }
      }

      .right-side {
        flex: 0 1 50%;

        .image-container {
          position: relative;
          width: 100%;
          height: auto;
          z-index: 2;

          @include devices(tablet) {
            width: 400px;
            height: auto;
          }
        }

        .treatment-photo {
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: none;
        }

        .deco {
          &::after {
            content: "";
            display: block;
            position: absolute;
            border-bottom: 457px solid $white;
            border-left: 300px solid transparent;
            border-right: 0px solid transparent;
            width: 0;
            height: 0;
            // background-color: $white;
            top: 215px;
            right: 0;
            z-index: 1;

            @include devices(tablet) {
              display: none;
            }
          }
        }
        // &::after {
        //   content: "";
        //   display: block;
        //   position: absolute;
        //   width: 100vw;
        //   height: 450px;
        //   background-color: $gray;
        //   top: 215px;
        //   left: 0;
        //   z-index: -1;
        //   @include devices(tablet) {
        //     display: none;
        //   }
        // }

        @include devices(mobile) {
          display: none;
        }
      }
    }
  }

  .bottom-banner {
    background-color: $gray;

    .cta-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 75px 0;
      margin: 0 auto;
    }
  }
}
