@import "mixins";

.treatments-grid {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  gap: 10px;
  margin-top: 50px;

}
.image-wrapper {
  position: relative;
  height: 300px;
  flex: 0 1 24%;
  overflow: hidden;
  @include devices(tablet) {
    flex: 0 1 30%;
  }
  @include devices(mobile) {
    flex: 0 1 100%;
  }

  .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8.519660949707031px);
    color: white;
    height: 20%; /* Initial height for the overlay */
    transition: height 0.5s ease-in-out;

    .overlay-content {
      padding: 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;

      h2 {
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      .fade-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
        font-weight: 400;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        text-shadow: 0px 1px 5px 0px rgba(69, 69, 69, 0.22);
      }

      .button.dark {
        opacity: 0;
        transition-delay: 0.5s;
        transition-property: opacity;
        transition-duration: 0.5s;
        transition-timing-function: linear;
      }
    }
  }
  &:hover {
    .overlay {
      height: 100%; /* Change overlay height on hover */

      .overlay-content {
        .fade-description,
        .button {
          opacity: 1;
        }
      }
    }
  }
}
