// colors

$black: #111311;
$white: #fff;
$green: #23a44c;
$gray: #f8f8f8;
$dark-gray: #d7d7d7;

$black-gradient: linear-gradient(
  180deg,
  rgba(17, 19, 17, 0.85) 0%,
  #111311 100%
);
$green-gradient: linear-gradient(
  141deg,
  rgb(77, 180, 110) 0%,
  rgb(23, 136, 59) 97.62%
);
